/* Raleway */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/* Rubik */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/rubik/rubik-800.woff2") format("woff2");
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Pages */

.page-header {
  background-color: #ffe17f;
}

.navigation-link {
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.page-header-text {
  font-weight: 700;
  font-size: 180px;
  color: #ffffff;
  margin: 0;
  text-align: right;
}

.link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.products-title,
.advantages-title,
.about-us-title,
.contacts-title,
.subscribe-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.products-parameters {
  font-size: 36px;
}

.products-specifications {
  font-size: 16px;
  color: #444444;
}

.categories-title {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.exclusive-offer {
  background-color: #f0f0f0;
}

.exclusive-title {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.transport-company-list {
  font-weight: 700;
  line-height: 20px;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}

.text {
  color: #444444;
}

.subscribe-newsletter {
  background-color: #f0f0f0;
}

.page-footer {
  background-color: #444444;
}

.about-text,
.contacts-phone {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.contacts-phone {
  text-decoration: none;
}

.footer-services-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  letter-spacing: 0.2em;
  text-decoration: none;
}

.main-inner {
  background-color: #f0f0f0;
}

.inner-header {
  background-color: #ffffff;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-products-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.control {
  font-size: 16px;
  line-height: 19px;
}

.sorting-container {
  background-color: #ffffff;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.product-card-price {
  line-height: 21px;
  color: #444444;
}

.pagination {
  background-color: #ebebeb;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}

