/* Raleway */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/* Rubik */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/rubik/rubik-800.woff2") format("woff2");
}

/* паттерн sticky-footer */
html {
  height: 100%;
}

body {
  margin: 0;
  padding-top: 40px;
  flex-direction: column;
  min-height: 100%;
  display: flex;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Pages */
.page-header {
  background-color: #ffe17f;
}

.navigation {
  max-width: 1040px;
  margin: 0 auto;
}

.header-logo {
  position: relative;
  top: -22px;
}

.navigation-inner {
  display: flex;
  margin-bottom: 40px;
}

.navigation-search-form {
  display: flex;
  justify-content: space-between;
  width: 517px;
  margin-right: 26.5px;
  border: 2px solid #000000;
  border-radius: 50px;
}

.input {
  flex-grow: 1;
}

.search {
  width: 160px
}

.navigation-user,
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  list-style-type: none;
}

.navigation-user {
  justify-content: space-between;
}

.navigation-user .navigation-item:nth-child(1)::before,
.navigation-user .navigation-item:nth-child(3)::before,
.navigation-user .navigation-item:nth-child(4)::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 12px;
  margin-right: 9px;
  background-repeat: no-repeat;
}

.navigation-user .navigation-item:nth-child(1)::before {
  background-image: url('../images/icons.svg');
}

.navigation-user .navigation-item:nth-child(3)::before {
  background-image: url('../images/chart.svg');
}

.navigation-user .navigation-item:nth-child(4)::before {
  background-image: url('../images/basket.svg');
}

.navigation-user .navigation-item:nth-child(3)::before {
  width: 10px;
  height: 12px;
}

.navigation-user .navigation-item:nth-child(4)::before {
  width: 16px;
  height: 14px;
}

.navigation-user .navigation-link {
  padding: 15px 0;
}

.navigation-list {
  align-items: center;
  margin-bottom: 22.61px;
}

.navigation-list .nav-item {
  list-style-type: none;
}

.navigation-list .nav-item:nth-child(1) {
  margin-right: 7px;
}

.navigation-list .nav-item:nth-child(2) {
  flex-grow: 1;
}

.plus-icon {
  display: block;
  width: 50px;
  height: 50px;
}

.navigation-list .nav-item:nth-child(3) {
  margin-right: 47px;
}

.navigation-list .nav-item:nth-child(4) {
  margin-right: 51px;
}

.navigation-link {
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-list .navigation-link {
  padding: 10px 0;
}

.page-header-inner {
  display: flex;
  justify-content: flex-end;
}

.page-header-text {
  align-self: flex-end;
  padding: 51px 0;
  font-weight: 700;
  font-size: 180px;
  color: #ffffff;
}

.link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.main-container {
  flex-grow: 1;
}

.products {
  display: flex;
  /* margin-bottom: 70px; */
}

.slider-inner {
  position: relative;
  top: -160px;
  width: 540px;
  display: flex;
  align-items: center;
}

.slider-button {
  width: 20px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-prev {
  background-image: url("../images/previous.svg");
}

.slider-next {
  background-image: url("../images/next.svg");
}

.slider-image {
  object-fit: contain;
  width: 500px;
}

.categories-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  grid-column-gap: 40px;
  margin-bottom: 70px;
}

.categories-item {
  display: grid;
  grid-template-rows: 160px;
  grid-row: 1/3;
  grid-row-gap: 33px;
}

.products-inner {
  width: 650px;
  position: relative;
  top: -30px;
}

.products-title,
.advantages-title,
.about-us-title,
.contacts-title,
.subscribe-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.products-title {
  margin-bottom: 29px;
}

.products-description {
  margin-bottom: 67px;
}

.indicators-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 59px;
}

.products-link {
  display: block;
}

.parameters-inner {
  display: flex;
}

.products-list {
  list-style-type: none;
}

.products-list:nth-child(1) {
  margin-right: 20px;
}

.products-link {
  padding: 0 29px;
  line-height: 8px;
  background-color: #ffe17f;
}

.products-parameters {
  font-size: 36px;
}

.products-specifications {
  font-size: 16px;
  color: #444444;
}

.products-categories {
  margin-bottom: 172px;
}

.photo-inner {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin: 0;
  background-color: #ffe17f;
}

.categories-item:nth-child(2) .photo-inner {
  align-items: end;
}

.categories-title {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  width: 160px;
  padding-bottom: 12px;
}

.advantages {
  margin-bottom: 70px;
  background-color: #f0f0f0;
  height: 289px;
}

.advantages-inner {
  position: relative;
  top: -102px;
  height: 319px;
  display: grid;
  grid-template-columns: 287px 1fr;
  grid-column-gap: 116px;
}

.button-container {
  display: grid;
  width: 280px;
  padding: 48.5px 0;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 40px);
  grid-row-gap: 51px;
  border-right: 7px solid #000000;
}

.advantages-button {
  width: 100%;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.advantages-button:hover {
  background-color: #000000;
  color: #ffe17f;
}

.advantages-container {
  display: grid;
  grid-template-columns: 450px 136px;
  grid-template-rows: 122.5px
                      auto;
  grid-column-gap: 110px;
}

.advantages-title {
  align-self: end;
}

.advantages-description {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
}

.postman {
  align-self: center;
  grid-column: 2/3;
  grid-row: 1/3;
}

.exclusive-offer {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  margin-bottom: 70px;
}

.truck-icon {
  display: block;
  width: 125px;
  height: 100px;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: center;
}

.truck-icon-images {
  background-image: url("../images/truck.svg");
}

.exclusive-title {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  padding: 38.5px 0;
}

.information-icon {
  display: block;
  align-self: center;
  margin-right: 42.5px;
  width: 40px;
  height: 40px;
  background-color: #e5e5e5;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.information-icon-images {
  background-image: url("../images/information.svg");
}



.about-us-contacts-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about-us {
  width: 520px;
}

.contacts {
  width: 532px;
}

.about-us::before,
.contacts::before {
  content: "";
  display: block;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-us-title,
.contacts-title {
  padding: 47px 0 48px;
}

.contacts-phone {
  font-style: normal;
}

.slogan {
  padding-bottom: 30px;
}

.subscribe-newsletter {
  background-color: #f0f0f0;
  padding-bottom: 56px;
}

.subscribe-title-inner,
.subscribe-form-inner {
  display: flex;
  justify-content: space-between;
}

.subscribe-title-inner {
  padding: 64px 0 144px;
}

.subscribe-title {
  width: 380px;
}

.subscribe-newsletter-text {
  width: 560px;
  padding-top: 10px;
  align-self: center;
}

.subscribe-newsletter-form {
  width: 810px;
  display: flex;
}

.field-email {
  flex-grow: 1;
}

.button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.button-subscribe {
  padding: 18px 39px;
}



.transport-company-list {
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 40px;
}

.transport-company-item:nth-child(1),
.transport-company-item:nth-child(2) {
  margin-bottom: 19px;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  color: #444444;
  padding-bottom: 15px;
}

.contacts-schedule {
  margin-bottom: 40px;
  list-style-type: none;
}

.text {
  font-style: normal;
  color: #444444;
}

.subscribe-newsletter-ps::before {
  content: "";
  display: inline-block;
  margin-right: 16.5px;
  width: 14px;
  height: 14px;
  background-image: url("../images/check.svg");
}

.subscribe-newsletter-ps {
  align-self: center;
}

.page-footer {
  background-color: #444444;
  padding-top: 62px;
  padding-bottom: 61px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-address {
  width: 234px;
  display: flex;
  flex-direction: column;
}

.footer-address-logo {
  margin-bottom: 35px;
}

.about-text {
  margin-bottom: 64px;
}

.footer-address::after {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  background-color: #ffc500;
}

.footer-services-social,
.footer-services-list,
.footer-social-list,
.footer-contacts {
  display: flex;
  flex-wrap: wrap;
}

.footer-services-social,
.footer-contacts {
  flex-direction: column;
  justify-content: space-between;
  margin-top: 75px;
}

.footer-services-list {
  width: 444px;
  justify-content: space-between;
}

.footer-social-list {
  width: 150px;
  justify-content: space-between;
  align-self: center;
  list-style-type: none;
}

.about-text,
.footer-contacts-phone {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.footer-services-item {
  list-style-type: none;
}

.footer-services-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  letter-spacing: 0.2em;
  text-decoration: none;
}

.footer-social-link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-facebook {
  background-image: url("../images/social-facebook.svg");
}

.footer-social-instagram {
  background-image: url("../images/social-instagram.svg");
}

.footer-social-tw {
  background-image: url("../images/social-tw.svg");
}

.footer-contacts {
  width: 175px;
}

.footer-contacts-logo {
  align-self: flex-end;
}

.main-inner {
  background-color: #ffffff;
}

.inner-header {
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 35px 0;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
}

.breadcrumbs-item:nth-child(1),
.breadcrumbs-item:nth-child(2) {
  margin-right: 36px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

.background-wrapper {
  width: 100%;
  background-color: #f0f0f0;
}

.catalog-products-filter {
  display: flex;
  justify-content: space-around;
  width: 1160px;
  margin: 0 auto;
}

.container-filter {
  max-width: 320px;
  flex-grow: 1;
  padding: 0 60px;
  padding-top: 25px;
}

.catalog-filter-group:nth-child(2) {
  margin-bottom: 10.5px;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.catalog-filter {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 35.5px;
  padding-top: 60px;
}

.catalog-products-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sorting-inner .arrow-button {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.up-arrow {
  background-image: url("../images/sort-up.svg");
}

.down-arrow {
  background-image: url("../images/sort-down.svg");
}

.catalog-filter-list {
  display: grid;
  list-style-type: none;
}

.control {
  font-size: 16px;
  line-height: 19px;
}

.sorting-container {
  width: 840px;
  padding-bottom: 78px;
  background-color: #ffffff;
}

.sorting-inner {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 25px 40px;
}

.product-list {
  width: 760px;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  grid-column-gap: 40px;
  grid-row-gap: 44px;
  list-style-type: none;
  margin: 70px auto 44px;
}

.product-card {
  width: 360px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:
    380px
    auto;
  grid-row-gap: 32px;
}

.product-card-link {
  grid-column: 1/-1;
  margin: 0;
  text-decoration: none;
}

.product-card-image {
  max-width: 100%;
  object-fit: contain;
}

.product-card-title {
  grid-column: 1/3;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

.product-card-price {
  justify-self: end;
  line-height: 21px;
  color: #444444;
}

.pagination-download-more {
  display: block;
  width: 760px;
  margin: 0 auto;
  margin-bottom: 44px;
  padding: 18px 0;
  border: 3px solid #e5e5e5;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: space-around;
  width: 760px;
  margin: 0 auto;
  padding: 25px 0;
  list-style-type: none;
  background-color: #ebebeb;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}
